*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=IBM+Plex+Serif:ital,wght@1,100&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,100&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@1,100&family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Raleway:wght@100&display=swap');

@import './paginas/aboutus';
@import './paginas/contact';
@import './paginas/galeria19';
@import './paginas/galeria18';
@import './paginas/galeria17';
@import './paginas/galeria16';
@import './paginas/galeria15';
@import './paginas/galeria13';
@import './paginas/galeria12';
@import './paginas/galeria11';
@import './paginas/galeria10';
@import './paginas/galeria9';
@import './paginas/galeria8';
@import './paginas/galeria7';
@import './paginas/galeria6';
@import './paginas/galeria5';
@import './paginas/galeria4';
@import './paginas/galeria3';
@import './paginas/galeria2';
@import './paginas/galeria1';
@import './paginas/work';
@import'./secciones/_navbar.scss';
@import './paginas/_index.scss';
@import './secciones/footer';
