footer {
    width: 100%;
    padding: 50px 0px;
    z-index: -1;
    background-color:#363333 ;
}

footer hr{
    margin: auto;
    width: 100%;
}

.container_footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 30px;

}

.box__footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    margin-top: 5px;
}

.box__footer hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

.box__footer .logo{
width: 100%;
display: flex;
}

.box__footer .logo img{
    width: 100px;
    display: flex;
    margin: auto;
}

.box__footer .terms p{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 100;
    color:white;
    font-size: 14px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.box__footer .terms hr{
     position:block;
  display: block;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  width: 40px;
  margin-top: 20px;
  margin-left: 5%;
}


.box__footer h2{
    color:white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    
}

.box__footer hr{
    position:block;
    display: block;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 40px;
    margin-top: 20px;
    margin-left: -5%;
}

.box__footer a{
    width: 100%;
    margin: auto;
    margin-top: 10px;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    
}

.box__footer a:hover{
    opacity: 0.8;
    cursor: pointer;
    color:darkgray;
}

.box__footer a .fa-brands{
    font-size: 15px;
}

.box__copyright {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

.box__copyright p{
margin-top: 20px;
color: #fff;
font-size: 10px;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #fff;
}

@media screen and (max-width: 800px) {
    .toggle {
        display: inline-block;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #353535;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: 2;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px;
    }

    .nav-links .link:hover {
        background: #051c38;
    }

    .box__footer .terms p {
        text-align: center;
        }

.hr1{
    width: 90%;
    border:solid #e94f37 1px;
   color: #e94f37;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px 50px 2% 4% / 41% 30% 25% 50%;
  }
  
  .hr3{
    width: 80%;
    border:solid #fff 1px;
   color: #fff;
    margin: auto;
    margin-top: 10px;
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    position: relative;
    transform: translate3d(-2%, -45px, 0) scale(1.020) rotate(5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
        
        .box__footer h2{
            font-size: 16px;
        }
  
    }


  @media screen and (max-width: 768px){
    .container_footer{
        flex-direction: column;
        .box__footer a{
            text-align: center;
        }
    }



  }

  @media screen and (max-width: 375px){
    .box__footer {
    justify-content: center;
    align-items: center;
    margin: auto;
    }
    
  }