nav {
    width: 100%;
    background:#393E41;
    height: 80px;
    position: relative;
}

.nav-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    line-height: 80px;
    z-index: 110;
}

.nav-logo {
    display: flex;
    margin-left: 10px;
    z-index: 101;
    cursor: pointer;

}

.nav-logo a{
    text-decoration: none;
    margin-left: 10px;
}


.nav-logo h2 {
    color: #fff;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    transition: all 300ms ease;
}

.nav-logo h2:hover{
transform: scale(1.1);
}


.nav-links .link {
    display: inline-block;
}


.link a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    margin: 0 25px;
    letter-spacing: 3px;
    transition: .3s;
    font-weight: 100;
    font-family: 'Fjalla One', sans-serif;
}

.link a:hover {
    color:darkgray;
}

li.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 50px;
    height: 1%;
    background: white;
    position: absolute;
    bottom: 17px;
    transform: translateX(10px);
}

.toggle {
    color: #fff;
    margin-right: 20px;
    font-size: 30px;
    transform: rotate(90deg);
    cursor: pointer;
    transition: .3s;
    display: none;
    margin-bottom: 20px;
}

.rotate {
    transform: rotate(180deg);
}

@media screen and (max-width: 800px) {
    .toggle {
        display: inline-block;
    }

    .nav-logo img{
        width: 50px;
        margin-top: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        background: #393E41;
        text-align: center;
        overflow: hidden;
        height: calc(100vh - 80px);
        width: 100%;
        z-index: -1;
        top: -100vh;
        transition: .5s;
    }

    .active {
        top: 80px;
    }

    .nav-links .link:hover {
        background: #051c38;
    }

    .selected:before{
       visibility: hidden;
    }
}

@media screen and (max-width: 600px){
    .nav-logo h2{
        font-size: 20px;
    }

    .nav-logo img{
        width: 40px;
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 10px;
    }
}